[user]
	name = sugarman
	email = sugarman@google.com
[alias]
        rbm = rebase master
	rb = rebase
	ri = rebase -i
	ra = rebase -i --autosquash
	cm = commit
	ca = commit -am
	co = checkout
	br = branch
	cp = cherry-pick
	di = diff
	st = status
        s = stash
        a = stash apply
	ft = fetch
        p = push
	pl = pull --rebase
        plu = pull --rebase upstream master
        lg = log
        sh = show
	tree = log --oneline --decorate --graph
        qlg = log --oneline -15
        qlg2 = log --oneline -30
        qdi = diff --name-only
        qsh = show --name-only
        qrf = reflog -15
        qrf2 = reflog -30
[color]
	ui = auto
[core]
	autocrlf = false
	filemode = false
	editor = emacs -nw
[merge]
	tool = kdiff3
[push]
	default = simple
